/*
* Css file to style the program
* Author: Erik R
*/
.WindowDecoration {
    -fx-background-color: rgb(230, 230, 230);
    -fx-background-insets: 5;
    -fx-effect: dropshadow(three-pass-box, rgb(169, 169, 169), 10, 0, 0, 0) dropshadow(three-pass-box, purple, 10, 0, 0, 0) dropshadow(three-pass-box, rgb(169, 169, 169), 10, 0, 0, 0) dropshadow(three-pass-box, purple, 10, 0, 0, 0);
    -fx-font-size: 5px;
}

.TransparentBackground {
    -fx-background-color: transparent;
}

.LightModeBackground {
    -fx-background-color: rgb(230, 230, 230);
}

.BorderOnPane {
    -fx-border-color: #000000;
    -fx-overflow: hidden;
}


.ColorSlider {
    -fx-background-color: transparent;
    -fx-border-color: grey;
}
.ColorSlider#cp {
    -fx-font-size: 12px;
}

.color-picker > .label:disabled {
    -fx-opacity : 1.0;
}
.deleteButton {
    -fx-background-color: rgb(240,128,128);
    -fx-border-color: grey;
    -fx-font-family: "Courier New";
    -fx-font-size: 14;
    -fx-text-alignment: LEFT;
}
.deleteButton:hover{
    -fx-background-color: rgb(250,110,110);
}
.deleteButton:pressed{
    -fx-background-color: red;
}

.aboutBackground{
    -fx-background-color: rgb(230, 230, 230);
}
.aboutDarkScreen{
    -fx-background-color: rgba(0, 0, 0, 0.75);
}
.aboutTextTitle{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 32px;
}
.aboutText{
    -fx-font-family: "Courier New";
    -fx-font-size: 14;
    -fx-wrap-text: true;
    -fx-text-alignment: LEFT;
}
.aboutCloseButton{
    -fx-background-color: rgb(230,230,230);
}
.aboutCloseButton:hover{
    -fx-background-color: rgb(240,128,128);
}
/*.aboutCloseButton:pressed {
    -fx-background-color: rgb(240,128,128);
    -fx-font-weight: 700;
}
 */
.aboutAuthor{
    -fx-font-family: "Courier New";
    -fx-font-size: 14;
    -fx-text-alignment: LEFT;
}
.ShapeInfo {
    -fx-font-family: "Courier New";
    -fx-font-size: 14;
    -fx-text-alignment: LEFT;
    -fx-padding: 2px;
}


.ShapeInfo#objectLabel {
    -fx-font-family: "Courier New";
    -fx-font-size: 12;
    -fx-text-alignment: LEFT;


}
.ShapeInfo#colorLabel {
    -fx-font-family: "Courier New";
    -fx-font-size: 10;
    -fx-text-alignment: LEFT;
}
.FontType {
    -fx-font-family: "Courier New";
}
.FontType#xPosition {
    -fx-font-size: 12;
}
.FontType#yPosition {
    -fx-font-size: 12;
}
