/*
* Css file to style the program
* Author: Erik R
*/
.WindowDecoration {
    -fx-background-color: rgb(230, 230, 230);
    -fx-background-insets: 5;
    -fx-effect: dropshadow(three-pass-box, rgb(169, 169, 169), 10, 0, 0, 0) dropshadow(three-pass-box, purple, 10, 0, 0, 0) dropshadow(three-pass-box, rgb(169, 169, 169), 10, 0, 0, 0) dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

.TransparentBackground {
    -fx-background-color: transparent;
}

.LightModeBackground {
    -fx-background-color: rgb(230, 230, 230);
}

.BorderOnPane {
    -fx-border-color: #000000;
    -fx-overflow: hidden;
}


.ColorSlider {
    -fx-background-color: transparent;
    -fx-border-color: grey;
}

.color-picker > .label:disabled {
    -fx-opacity : 1.0;
}
.deleteButton {
    -fx-background-color: rgb(240,128,128);
    -fx-border-color: grey;
}
.deleteButton:hover{
    -fx-background-color: rgb(250,110,110);
}
.deleteButton:pressed{
    -fx-background-color: red;
}
.ObjectListItem{
}