.WindowDecoration {
    -fx-background-color: rgb(230, 230, 230);
    -fx-background-insets: 5;
    -fx-effect: dropshadow(three-pass-box, rgb(169, 169, 169), 10, 0, 0, 0) dropshadow(three-pass-box, purple, 10, 0, 0, 0) dropshadow(three-pass-box, rgb(169, 169, 169), 10, 0, 0, 0) dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

.TransparentBackground {
    -fx-background-color: transparent;
}

.LightModeBackground {
    -fx-background-color: rgb(230, 230, 230);
}

.BorderOnPane {
    -fx-border-color: #000000;
    -fx-overflow: hidden;
}

.BorderOnListItem {
    -fx-border-color: black;
    -fx-border-width: 3;
}

.ColorSlider {
    -fx-background-color: transparent;
    -fx-border-color: grey;
}